<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howtographql.hackernews.LinkMapper">
	<resultMap type="Link" id="linkMap">
		<constructor>
			<idArg javaType="String" column="id" />
			<arg javaType="String" column="url" />
			<arg javaType="String" column="description" />
		</constructor>
	</resultMap>
	<insert id="create" parameterType="Link">
		insert into Link
		(id,url,description) values (#{id},#{url},#{description})
	</insert>
	<select id="read" resultMap="linkMap">
		select * from Link where id = #{id}
	</select>
	<select id="readAll" resultMap="linkMap">
		select * from Link
	</select>
	<update id="update" parameterType="Link">
		update Link set
		url = #{url},
		description = #{description}
		where id = #{id}
	</update>
	<delete id="deleteAuthor" parameterType="Link">
		delete from Link where id = #{id}
	</delete>
</mapper>