<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.howtographql.hackernews.Link" alias="Link" />
		<typeAlias type="com.howtographql.hackernews.User" alias="User" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${flyway.driver}" />
				<property name="url" value="${flyway.url}" />
				<property name="username" value="${flyway.user}" />
				<property name="password" value="${flyway.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="db/LinkMapper.xml" />
		<mapper resource="db/UserMapper.xml" />
	</mappers>
</configuration>